<div class="artboard">
  <div id="watch">
    <div id="crown"></div>
    <div id="button"></div>
    <div id="band-up"></div>
    <div id="band-bottom"></div>
    <div id="outline">
      <div id="screen"></div>
    </div>
  </div>
  <div id="phone" class="ready">
    <div id="outline">
      <div id="screen"></div>
    </div>
    <div id="home"></div>
    <div id="camera"></div>
    <div id="sensor"></div>
    <div id="speaker"></div>
    <div id="lock"></div>
    <div id="silent"></div>
    <div id="volume-up"></div>
    <div id="volume-down"></div>
  </div>
  <div id="laptop" class="out">
    <div id="outline">
      <div id="screen"></div>
    </div>
    <div id="keyboard"></div>
    <div id="notch"></div>
    <div id="back"></div>
    <div id="camera"></div>
  </div>
</div>