<footer id="myFooter" class="bg-dark">
    <div class="container" id="Contact">
        <div class="row">
            <div class="col-sm-4">
                <h6>Contact</h6>
                <ul>
                    <li><i class="ion-social-linkedin"></i> <a href="https://www.linkedin.com/in/alex-dubinchyk-76054ba0?trk=nav_responsive_tab_profile">Linkedin</a></li>
                    <li><i class="icon-sm ion-email"></i> <code class="text-primary">hi.alexd at gmail.com</code></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h6>Location</h6>
                <ul>
                    <li><i class="icon ion-location"></i> Bay Area, CA</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h6>Social</h6>
                <ul>
                    <li><i class="icon ion-social-github"></i> <a href="https://github.com/aldb">Github</a></li>
                    <li><i class="icon ion-code"></i> <a href="https://www.codewars.com/users/aldb">Codewars</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Made with <i class="ion-android-favorite-outline"></i> 2014-2019</p>
    </div>
</footer>
