<div id="map"></div>
<footer id="myFooter">
    <div class="container" id="Contact">
        <div class="row">
            <div class="col-sm-4">
                <h5>Contact</h5>
                <ul>
                    <li>Email</li>
                    <li>aldb.pr@gmail.com</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>Location</h5>
                <ul>
                    <li>Bay Area, CA</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>Social</h5>
                <ul>
                    <li><a href="https://github.com/aldb">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/alex-dubinchyk-76054ba0/?trk=nav_responsive_tab_profile">Linkein</a></li>
                    <li><a href="https://www.codewars.com/users/aldb">Codewars</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Made with <i class="ion-android-favorite-outline"></i> 2014-2018</p>
    </div>
</footer>