<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
  <a class="navbar-brand text-primary" href="#">aldb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Intro <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Portfolio">Portfolio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resume
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item font-fix" href="assets/resume/201602_resume_alex_dubinchyk.pdf" target="_blank"><i class="icon-sm   ion-clipboard"></i> Pdf</a>
          <a class="dropdown-item font-fix" href="#"><a class="dropdown-item font-fix" href="assets/resume/201602_resume_alex_dubinchyk.rtf" target="_blank"><i class="icon-sm ion-document"></i> Rtf</a>
          <a class="dropdown-item font-fix" href="#"><a class="dropdown-item font-fix" href="assets/resume/201602_resume_alex_dubinchyk.docx" target="_blank"><i class="icon-sm ion-document-text"></i> Docs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item font-fix" href="https://docs.google.com/document/d/1p9zJ7EU5KrK5FqOlHk0-UGfiy8_Kd-RxOggNaBg7ebE/edit?usp=sharing" target="_blank">Edit in Google docs</a>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Posts</a>
      </li> -->
      <li class="nav-item pull-xs-right">
          <a class="nav-link" href="https://www.linkedin.com/in/alex-dubinchyk-76054ba0?trk=nav_responsive_tab_profile">
              <i class="ion-social-linkedin"></i>
          </a>
      </li>
      <li class="nav-item pull-xs-right">
          <a class="nav-link" href="https://github.com/aldb">
              <i class="ion-social-github"></i>
          </a>
      </li>
    </ul>
  </div>
  </div>
</nav>