<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
  <a class="navbar-brand text-primary" href="#">aldb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Intro <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Blog">Blog</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#Contact">Contact</a>
      </li>
      <li class="nav-item pull-xs-right">
          <a class="nav-link" href="https://www.linkedin.com/in/alex-dubinchyk-76054ba0?trk=nav_responsive_tab_profile">
              <i class="ion-social-linkedin"></i>
          </a>
      </li>
      <li class="nav-item pull-xs-right">
          <a class="nav-link" href="https://github.com/aldb">
              <i class="ion-social-github"></i>
          </a>
      </li>
    </ul>
  </div>
  </div>
</nav>