  <header id="first">
      <div class="header-content">
          <div class="inner">
              <h5 class="wow fadeIn text-normal">Hi, I'm...</h5>
              <h2>Alex Dubinchyk</h2>
              <h6 class="wow fadeIn text-normal">Builds web products in SF</h6>
              <hr>
              <a href="#one" class="page-scroll wow fadeInUp">
                <i class="icon-lg ion-power wow fadeIn text-primary" data-wow-delay=".1s"></i>
              </a>
          </div>
      </div>
  </header>
{% include header.html %}
<section id="one">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-xs-center">
                  <h2 class="m-t-0 text-primary">Intro</h2>
                  <hr class="primary">
              </div>
          </div>
      </div>
      <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-cog wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase">Full Stack</h6>
                    <p class="text-muted m-b-0">
                    Frontend and Backend solutions. Primary focus on  <code>API</code> solutions.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-pulse-strong wow fadeInUp"></i>
                    <h6 class="text-uppercase">Web</h6>
                    <p class="text-muted m-b-0">Specialized in <code>PHP, JS</code> web techs with ability to write quality <code>tests</code>.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-xs-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-speedometer wow fadeIn" data-wow-delay=".1s"></i>
                    <h6 class="text-uppercase">Developer</h6>
                    <p class="text-muted m-b-0">Design and optimization Data Model for <code>MySQL, NoSQL, ORM doctrine</code>.</p>
                </div>
            </div>
        </div>
    </div>
       <div class="container wow fadeInUp">
       <br>
       <br>
        <p class="lead blockquote">
            Programmer</code> with 5+ years of experience from Minsk, Belarus.
            I’m currently working in San Francisco. I flew <code>10 000 miles</code> away from my home to be in the center of innovation and technology.
            Feel free to contact me via the <a href="">twitter</a>, the <a href="http://github.com/aldb">github</a> or the <a href="mailto:aldb.pr@gmail.com?Subject=Hi">email</a>
        </p>
    </div>
</section>
<section id="two" class="bg-alt">
    <div class="container text-xs-center">
        <h2 class="text-primary text-xs-center">Resume Links</h2>
        <hr class="primary">
        <br>
        <div class="row wow fadeInUp">
            <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                <h3>Rtf</h3>
                <i class="icon-lg ion-document-text wow pulse"></i>
                <h1 class="text-primary">128kb</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                <h3>Pdf</h3>
                <i class="icon-lg ion-clipboard wow pulse"></i>
                <h1 class="text-primary">256kb</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                <h3>Doc</h3>
                <i class="icon-lg ion-document wow pulse"></i>
                <h1 class="text-primary">view</h1>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">
                <h3>Cloud</h3>
                <i class="icon-lg ion-android-cloud-circle wow pulse"></i>
                <h1 class="text-primary">edit</h1>
            </div>
        </div>
        <hr>
        <br>
    </div>
</section>
<section id="three">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                <h2 class="m-t-0 text-primary">Articles</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                {{ content }}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section id="four" class="bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                <h2 class="m-t-0 text-primary">Portfolio</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    {% include portfolio.html %}
</section>