<div class="container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
{% assign index = 0 %}
{% for post in site.posts %}
    {% if post.category == "portfolio" %}
        {% assign index = index | plus:1 %}
        {% if index == 1 or index == 4 or index == 7 %}
            <div class="card-group">
        {% endif %}

        <!-- card -->
        <div class="card">
            <a href="" onclick="return false;" data-toggle="modal" data-target=".portfolioModal{{index}}">
                  <img class="card-img-top img-fluid" src="{{ site.baseurl }}{{post.img}}" alt="Card image cap">
                <div class="card-block">
                    {{post.title}}
                </div>
            </a>
        </div>

        {% if index == 3 or index == 6 %}
            </div>
        {% endif %}

    {% endif%}
{% endfor %}
</div>

{% assign index = 0 %}
{% for post in site.posts %}
    {% if post.category == "portfolio" %}
    {% assign index = index | plus:1 %}
        <div class="modal fade portfolioModal{{index}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <div class="container-fluid bd-example-row">
                  <div class="row">
                    <div class="col-sm-8">
                        <img src="{{post.full_img}}" class="img-rounded img-thumbnail center-block img-fluid">
                    </div>
                    <div class="col-sm-4">
                        <small>
                            <ul class="list-group">
                              <li class="list-group-item">
                                <h7 class="modal-title">{{post.title}}</h7>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              </li>
                              <li class="list-group-item">
                                Techs: <code>{{post.techs}}</code>
                              </li>
                              <li class="list-group-item">
                              Country:
                                <span class="label label-default label-pill pull-xs">{{post.country}}</span>
                              </li>
                              <li class="list-group-item">
                              Year:
                                <span class="label label-default label-pill pull-xs">{{post.date| date: '%Y'}}</span>
                              </li>
                              <li class="list-group-item">
                                {{post.content}}
                              </li>
                            </ul>
                        </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endif%}
{% endfor %}
</div>