<div class="card hover" onclick="return false;" data-toggle="modal" data-target=".portfolioModal{{i}}">
  <img class="card-img-top" src="{% if post.img %} {{post.img}} {% else %}/assets/img/posts/2016/def.png{% endif %}" alt="{{ post.title }}">
  <div class="card-body">
    <p class="text-muted m-b-0">
        Portfolio
    </p>
    
    <h6 class="card-title">
        {{ post.title }}
    </h6>
    <p class="card-text">{{ post.card_description }}</p>
    <p><i class="ion-ios-calendar"></i>&nbsp;<span class="text-primary">{{ post.date | date: "%Y" }}</span></p>
  </div>
</div>
{% include portfolio_popup.html %}