<div class="card hover">
  <div class="row ">
    <div class="col-md-8">
        <img src="{% if post.img %} {{post.img}} {% else %}/assets/img/posts/2016/def.png{% endif %}" alt="{{ post.title }}">
      </div>
      <div class="col-md-4 px-3">
        <div class="card-block px-3">
          <p class="text-muted m-b-0">
              Portfolio
          </p>
          
          <h6 class="card-title">
              {{ post.title }}
          </h6>
          <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <p><i class="ion-ios-pulse"></i>&nbsp;<span class="text-primary">{{ post.date | date: "%Y" }}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>