<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

<body>

{% if page.title %}
<section class="bg-dark">
    {% include header_posts.html %}
</section>
<section>
  {{ content }}
</section>
{% else %}
<section class="bg-dark" style="height:125px;">
    {% include header.html %}
</section>
<section>
  <div class="container py-2" style="margin-top: -75px;">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <p class="text-muted m-b-0">
                  <small>GETTING STARTED</small>
                </p>
                <br>
                <p class="card-text">
                  Hey! I'm... Alex Dubinchyk👋, <code class="text-primary">Full-Stack Web Developer</code> with 7+ years of experience building web applications on <code class="text-primary">JavaScript/PHP</code>
                </p>
              </div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-lg-6 col-md-4 text-center">
                      <div class="feature">
                          <i class="icon-lg ion-university"></i>
                          <br><br>
                          <p class="text-muted m-b-0">
                            <code class="text-primary">
                            Belarusian State University of Informatics and Radioelectronics</code>
                            <br>
                            Minsk, 2009 - 2013
                          </p>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-4 text-center">
                      <div class="feature">
                          <i class="icon-lg ion-cube"></i>
                          <br><br>
                          <p class="text-muted m-b-0">
                            <code class="text-primary">
                          Angular.js, 3D Autodesk-Forge, NodeJS, Express,
                          PHP Zend, Codeigniter,  Yii, Silex, MySQL, MongoDB
                            </code>
                          </p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="Portfolio">
    <div class="container">
        <div class="row">
        </div>
    </div>
  {% assign portfolio_list = site.posts| where:"category","portfolio_v2" %}

  {% assign portfolio_count = portfolio_list|size %}
  {% for i in (0..portfolio_count) %}
    {% assign post = portfolio_list[i] %}
    {% if post.title %}
    {% case i %}
        {% when 0 or 7 %}
          <div class="container py-4">
          <div class="row">
          <div class="col-sm-12">
            <div class="row">
            <div class="col-lg-4">
              {% include portfolio_card.html %}
            </div>
        {% when 1 or 8 %}
          <div class="col-sm-4">
            {% include portfolio_card.html %}
          </div>
        {% when 2 or 9 %}
          <div class="col-sm-4">
            {% include portfolio_card.html %}
          </div>
          </div>
          </div>
          </div>
          </div>
        {% when 3 or 6 or 10 %}
          <div class="container py-4">
          <div class="row">
            <div class="col-sm-12">
              {% include portfolio_horizontal_card.html %}
            </div>
          </div>
          </div>
        {% when 4 %}
          <div class="container py-4">
          <div class="row">
          <div class="col-sm-12">
            <div class="row">
            <div class="col-sm-6">
              {% include portfolio_card.html %}
            </div>
        {% when 5 %}
          <div class="col-sm-6">
            {% include portfolio_card.html %}
          </div>
          </div>
          </div>
          </div>
          </div>
        {% else %}
    {% endcase %}
    {% endif %}
  {% endfor %}
</section>

<section id="Blog">
    <div class="container">
        <div class="row"></div>

    <div class="row mb-2">
      {% assign portfolio_list = site.posts| where:"category","programming" %}
      {% assign portfolio_count = portfolio_list|size %}
      {% for i in (0..portfolio_count) %}
      {% assign post = portfolio_list[i] %}
      {% if post.title %}
        <div class="col-md-6">
          <div class="card hover flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <p class="text-muted m-b-0">
                  Blog
              </p>
              <h6 class="mb-0">
                <a class="text-dark" href="{{post.url}}">{{post.title}}</a>
              </h6>
              <div class="mb-1 small">
                <i class="ion-ios-calendar"></i>&nbsp;<span class="text-primary">{{post.date | date_to_long_string }}</span>
              </div>
              
              <!-- <p class="card-text mb-auto">{{ post.content | strip_html | truncatewords:5}}</p> -->
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="{% if post.img %} {{post.img}} {% else %}/assets/img/posts/2016/def.png{% endif %}" alt="{{ post.title }}">
          </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>
</section>
{%endif%}

{% include footer.html %}


<!-- GOOGLE MAP -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMQ2hSX8M4dfpI0-_C3bz0JjOdGQGMvdI"></script>
<script type="text/javascript">

$(document).ready(function () {
  /***************** Google Map ******************/
  function initialize() {
    var styles     = [{
      "featureType": "poi",
      "elementType": "all",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "transit",
      "elementType": "all",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "water",
      "elementType": "labels",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "landscape.man_made",
      "elementType": "all",
      "stylers": [{
        "visibility": "on"
      }]
    }, {
      "featureType": "landscape.natural",
      "elementType": "labels",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "landscape.natural.terrain",
      "elementType": "all",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "administrative.neighborhood",
      "elementType": "all",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "road.local",
      "elementType": "labels",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "road.local",
      "elementType": "geometry",
      "stylers": [{
        "color": "#47453e"
      }]
    }, {
      "featureType": "road.arterial",
      "elementType": "geometry",
      "stylers": [{
        "visibility": "simplified"
      }, {
        "color": "#5e5532"
      }]
    }, {
      "featureType": "road.highway",
      "elementType": "labels",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "administrative.country",
      "elementType": "geometry",
      "stylers": [{
        "color": "#949494"
      }]
    }, {
      "featureType": "road.arterial",
      "elementType": "labels",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "landscape.man_made",
      "elementType": "all",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "landscape.natural",
      "elementType": "all",
      "stylers": [{
        "color": "#333333"
      }]
    }, {
      "featureType": "road.highway",
      "elementType": "geometry",
      "stylers": [{
        "color": "#404040"
      }]
    }, {
      "featureType": "water",
      "elementType": "all",
      "stylers": [{
        "color": "#8798ab"
      }]
    }, {
      "featureType": "administrative.country",
      "elementType": "labels.text.fill",
      "stylers": [{
        "color": "#c7c7c7"
      }]
    }, {
      "featureType": "administrative.province",
      "elementType": "labels.text.fill",
      "stylers": [{
        "color": "#6b6b6b"
      }]
    }, {
      "featureType": "administrative.province",
      "elementType": "all",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "administrative.locality",
      "elementType": "labels.icon",
      "stylers": [{
        "color": "#ffcc00"
      }]
    }, {
      "featureType": "road",
      "elementType": "labels.icon",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "administrative.country",
      "elementType": "labels.text.stroke",
      "stylers": [{
        "color": "#333333"
      }, {
        "weight": 5
      }]
    }, {
      "featureType": "administrative.locality",
      "elementType": "labels.text.stroke",
      "stylers": [{
        "color": "#333333"
      }]
    }, {
      "featureType": "administrative.locality",
      "elementType": "labels.text.fill",
      "stylers": [{
        "color": "#b3b3b3"
      }]
    }, {
      "featureType": "administrative.land_parcel",
      "elementType": "all",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "road.highway",
      "elementType": "geometry",
      "stylers": [{
        "visibility": "simplified"
      }, {
        "color": "#525252"
      }]
    }, {
      "featureType": "road.highway.controlled_access",
      "elementType": "geometry",
      "stylers": [{
        "color": "#474747"
      }]
    }];
    var mapCanvas  = document.getElementById('map');
    var mapOptions = {
        center: new google.maps.LatLng(37.5689858, -122.0744625),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: styles
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', initialize);

});
</script>
<!-- GOOGLE MAP -->
</body>
</html>
