<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
<body>
{% if page.title %}
<section class="bg-dark">
    {% include header_posts.html %}
</section>
<section>
  {{ content }}
</section>
{% else %}
<section class="bg-dark" style="height:125px;">
    {% include header.html %}
</section>
<section>
  <div class="container py-2" style="margin-top: -75px;">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <p class="text-muted m-b-0">
                  <small>GETTING STARTED</small>
                </p>
                <br>
                <p class="card-text">
                  Hey! I'm... Alex Dubinchyk👋, <code class="text-primary">Full-Stack Developer</code> with 7+ years of experience building web applications.
                </p>
                <div class="row">
                  <div class="col-sm-6">
                  </div>
                </div>
                <div class="feature">
                    <p class="text-center"><i class="icon-lg ion-cube"></i></p>
                    <p class="text-muted m-b-0">
                      <code class="text-primary">
                    JS, Angular.js, 3d visualization Autodesk-Forge, NodeJS, Express,
                    PHP Zend, Codeigniter,  Yii, Silex, MySQL, MongoDB
                      </code>
                    </p>
                </div>
                <div class="feature">
                    <p class="text-center">
                      <i class="icon-lg ion-university"></i>
                    </p>
                    <p class="text-muted m-b-0 text-center">
                      Belarusian State University of <code class="text-primary">Informatics and Radioelectronics</code>
                    </p>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="row">
                  {% include anime.html %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="Portfolio">
    <div class="container">
        <div class="row">
        </div>
    </div>
  {% assign portfolio_list = site.posts| where:"category","portfolio_v2" %}

  {% assign portfolio_count = portfolio_list|size %}
  {% for i in (0..portfolio_count) %}
    {% assign post = portfolio_list[i] %}
    {% if post.title %}
    {% case i %}
        {% when 0 or 7 %}
          <div class="container py-4">
          <div class="row">
          <div class="col-sm-12">
            <div class="row">
            <div class="col-lg-4">
              {% include portfolio_card.html %}
            </div>
        {% when 1 or 8 %}
          <div class="col-sm-4">
            {% include portfolio_card.html %}
          </div>
        {% when 2 or 9 %}
          <div class="col-sm-4">
            {% include portfolio_card.html %}
          </div>
          </div>
          </div>
          </div>
          </div>
        {% when 3 or 6 or 10 %}
          <div class="container py-4">
          <div class="row">
            <div class="col-sm-12">
              {% include portfolio_horizontal_card.html %}
            </div>
          </div>
          </div>
        {% when 4 %}
          <div class="container py-4">
          <div class="row">
          <div class="col-sm-12">
            <div class="row">
            <div class="col-sm-6">
              {% include portfolio_card.html %}
            </div>
        {% when 5 %}
          <div class="col-sm-6">
            {% include portfolio_card.html %}
          </div>
          </div>
          </div>
          </div>
          </div>
        {% else %}
    {% endcase %}
    {% endif %}
  {% endfor %}
</section>
<section id="Blog">
    <div class="container">
        <div class="row"></div>
    <div class="row mb-2">
      {% assign portfolio_list = site.posts| where:"category","programming" | sort : 'order' | reverse %}
      {% assign portfolio_count = portfolio_list|size %}

      {% for i in (0..portfolio_count) %}
      {% assign post = portfolio_list[i] %}
      {% if post.title %}
        <div class="col-md-6">
          <div class="card hover flex-md-row mb-4 box-shadow h-md-250" onclick="document.location='{{post.url}}'">
            <div class="card-body d-flex flex-column align-items-start">
              <p class="text-muted m-b-0">
                  Blog
              </p>
              <h6 class="mb-0">
                <a class="text-dark" href="{{post.url}}">{{post.title}}</a>
              </h6>
              <div class="mb-1 small">
                <i class="ion-ios-calendar"></i>&nbsp;<span class="text-primary" style="font-weight: 200;">{{post.date | date_to_long_string }}</span>
              </div>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="{% if post.img %} {{post.img}} {% else %}/assets/img/posts/2016/def.png{% endif %}" alt="{{ post.title }}">
          </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>
</section>
{%endif%}
{% include footer.html %}
</body>
</html>
