---
layout: default
---
<div class="container py-4">
    <main role="main" class="container" style="padding: 60px;">
      <div class="row">
        <div class="col-md-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">{{ page.title}}</h2>
            <p class="blog-post-meta">{{ page.date | date_to_long_string}} by <a href="#">4db</a></p>
            {{ content }}
          </div>

          {% if site.disqus %}
            {% include disqus_comments.html %}
          {% endif %}
        </div>
      </div>
    </main>
</div>
