---
layout: default
---
<div class="container py-4">
    <main role="main" class="container" style="padding: 60px;">
      <div class="row">
        <div class="col-md-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">{{ page.title}}</h2>
            <p class="blog-post-meta">{{ page.date | date_to_long_string}} by <a href="#">aldb</a></p>
            {{ content }}
          </div>

          {% if site.disqus %}
            {% include disqus_comments.html %}
          {% endif %}
        </div>

        <aside class="col-md-4 blog-sidebar">%}
          </div> -->

          <div class="p-3">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
            {% assign portfolio_list = site.posts| where:"category","programming" %}
            {% assign portfolio_count = portfolio_list|size %}
            {% for i in (0..portfolio_count) %}
            {% assign post = portfolio_list[i] %}
            {% if post.title %}
              <li><a href="{{post.url}}">{{post.date | date: "%B %Y" }}</a></li>
            {% endif %}
            {% endfor %}
            </ol>
          </div>
        </aside>
      </div>
    </main>
</div>
