---
layout: default
---
<style type="text/css"> 
/* Custom */
h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eee;
}
</style>
<div class="container">
<div class="row">

<div class="col-xs-10 col-xs-offset-1">
<div class="row">
<article class="post">
  <h1>{{ page.title }}</h1>

<p class="card-text">
    <small class="text-muted">
        {{ page.date | date: "%B %e, %Y" }}
    </small>
    {% assign tags = page.tags | sort %}
    {% for tag in tags %}
     <span class="site-tag">
        <a href="/#tag={{ tag }}">
                {{tag}}
        </a>
    </span>
    {% endfor %}
</p>


  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
</div>
</div>
</div>
</div>